* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
}
body{
    background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
    background-position: top left, bottom right ;
    background-repeat: no-repeat, no-repeat;
    
}

.main {
    min-width: 360px;
    margin: 0 auto;
    padding: 54px 0;
}

.content-container__info,
.content-container__raited,
.cards-container {
    width: 327px;
    margin: 16px auto;
}

.content-container__title {
    font-size: 4rem;
    line-height: 3.2rem;
    padding: 16px;
    text-align: center;
    color: var(--Very-Dark-Magenta);
    margin-top: 12px;
}

.content-container__description {
    font-size: 1.9rem;
    line-height: 2.5rem;
    color: var(--Dark-Grayish-Magenta);
    text-align: center;
}

.content-container__raited {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 34px auto;
}

.raited__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 12px;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 8px;
}

.raited__description {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--Very-Dark-Magenta) ;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 46px;
}

.cards-container__card {
    width: 100%;
    height: 234px;
    padding: 32px;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 8px;
}

.card__header {
    display: flex;
}

.img-container__porfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}

.info__title {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.info__verified-buyer {
    font-size: 1.7rem;
    color: var(--Soft-Pink);
}

.card__description {
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: var(--White);
    margin-top: 18px;
}


@media screen and (min-width: 800px) {
    body{
        display: grid;
        place-content: center;
        height: 100vh;
        background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg'); 
    }

    .main {
        width: 1120px;
    }

    .content-container,
    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .cards-container__card {
        width: 350px;
    }

    .content-container__info {
        margin: 0;
    }

    .content-container__title,
    .content-container__description{
        padding-left: 0;
        text-align: left;
    }

    .content-container__raited {
        display: grid;
        width: 540px;
        margin: 0;
    }

    .raited__card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        width: 445px;
        height: 56px;
    }

    .raited__card--center {
        justify-self: center;
    }

    .raited__card--right {
        justify-self: right;
    }

    .cards-container {
        height: 266px;
    }

    .cards-container__card--top {
        align-self: flex-start;
    }

    .cards-container__card--buttom {
        align-self: flex-end;
    }
}